/* ===================== CONTAINER DO CARD ===================== */
html,
body {
  background-color: #0C1525;
}

.container_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42rem;
  max-width: 95%;
  margin: 2rem auto;
  padding: 2.5rem;
  background: #192331;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 22px;
}

/* ===================== TÍTULOS ===================== */
.container_cadastro h1,
.container_cadastro h2 {
  margin-bottom: 1rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}

/* ===================== INPUTS E LABELS ===================== */
.container_cadastro label {
  align-self: flex-start;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #ffff;
}

.container_cadastro input {
  width: 100%;
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  font-size: 0.95rem;
  margin-bottom: 1.2rem;
  transition: 0.3s;
  color: #fff;
}

/* ===================== AVATARES ===================== */
.avatar_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 1.2rem;
  margin: 1.2rem 0;
  width: 100%;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;

  object-fit: cover;
  transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

.avatar_selected {
  border-color: #6a67f9;
  box-shadow: 0 0 10px rgba(106, 103, 249, 0.6);
}

.avatar_msg {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.avatar_msg img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/* ===================== BOTÃO ===================== */
.btn_cadastro {
  margin-top: 1rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn_cadastro:hover {
  background: #0090d1;
}

/* ===================== RESPONSIVIDADE ===================== */
@media (max-width: 768px) {
  .container_cadastro {
    width: 90%;
    padding: 2rem;
  }

  .avatar_grid {
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  }

  .avatar {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 480px) {
  .container_cadastro {
    width: 95%;
    padding: 1.5rem;
  }

  .container_cadastro h1 {
    font-size: 1.6rem;
  }

  .container_cadastro input {
    font-size: 0.95rem;
    padding: 0.6rem;
  }

  .btn_cadastro {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .avatar {
    width: 55px;
    height: 55px;
  }
}