.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 22px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  font-family: "Poppins", sans-serif;
}

.box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }
}

.box {
  display: flex;
  gap: 0.2rem;

  strong {
    color: #cbd5e1;
    gap: 0.8rem;
  }

  p {
    color: #cbd5e1;
  }

  span {
    color: #cbd5e1;
  }
}

.containerPergunta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  color: #cbd5e1;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.titleRow p {
  margin: 0;
}

.containerRelacionados {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  cursor: auto;
}

.containerRelacionadosBox {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  span {
    background-color: #B688FC;
    color: #ffffff;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

.containerLike {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.actionBtn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: #f7f8ff;
  border: 1px solid #e0e3ff;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.actionBtn:hover {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.actionBtn:hover .icon {
  transform: scale(1.1);
}

.iconLiked {
  font-size: 1.2rem;
  color: #4661fd;
}

.actionBtn span {
  font-size: 0.95rem;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 8.25rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-top: 15px;
  /* espaço acima */
  margin-bottom: 20px;
  /* espaço abaixo (antes dos botões) */
}

button {
  background-color: #ffffff;
  color: #4661fd;
  font-weight: bolder;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.select {
  color: #000000;
}

.option {
  color: #000000;
}

.select:focus {
  color: #000000;
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.filtros {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 6.5rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
}

.inputContainer input {
  width: 90%;
  border: none;
  outline: none;
  flex-grow: 0;
  font-size: 14px;
  background: transparent;
  text-align: left;
  margin: auto;
}

.icon {
  color: #555;
  margin-right: 8px;
  font-size: 18px;
}


select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

select:hover {
  border-color: #888;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 0.4rem;
  }

  .filtros {
    flex-direction: column;
    margin-top: -0.5rem;
    margin-bottom: 1.1rem;
  }

}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}