.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }
}

.containerPergunta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.containerRelacionados {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  cursor: auto;
}

.containerRelacionadosBox {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  span {
    background-color: #4661fd;
    color: #ffffff;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

.containerLike {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.actionBtn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  transition: color 0.3s ease, transform 0.2s ease;
}

.actionBtn:hover {
  color: #4661fd;
  transform: scale(1.05);
}

.icon {
  font-size: 1.2rem;
}

.iconLiked {
  font-size: 1.2rem;
  color: #4661fd;
  /* vermelho quando curtido */
}

.actionBtn span {
  font-size: 0.95rem;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 90%;
  box-sizing: border-box;
  height: 8.25rem;
  /* mantém a altura atual; altere se quiser */
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  background-color: #4661fd;
  color: #ffffff;
  font-weight: bolder;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}