.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 4.5rem;
  gap: 1rem;
  margin: 4rem 1rem;
  padding: 1rem 2rem; /* diminua o padding superior */
  padding-top: 0.5rem; /* <--- AQUI */
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  width: 400px;
  height: 500px;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.2rem;
    color: #ffff;
    margin-top: 0.3rem;
    font-size: 0.95rem;
    opacity: 0.75;
  }

  h1 {
    background: linear-gradient(to right, #38bdf8, #c084fc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 0;
  }
}

.avatar_name {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.bio {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.habilidades {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin: 4rem 1rem;
}

.avatar_perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  text-align: center;
}

.avatar_perfil img {
  width: 70px;
  height: 70px;
  border-radius: 999px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 0.4rem;
  gap: 0.5rem;
}

.tecnologias_dev {
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  font-size: 0.8rem;
  color: #cbd5e1;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

  .bio {
    max-width: 100%;
  }
}
