.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 1rem;
  margin: 6.5rem 0 1rem 0;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 22px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  background-color: #1A2332;
  z-index: 1;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  h1 {
    background: linear-gradient(to right, #38bdf8, #c084fc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.2rem;
    color: #cbd5e1;
  }

}

.avatar_perfil {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.avatar_nome {
  display: flex;
  gap: 0.5rem;

  strong {
    color: #cbd5e1;
  }

  p {
    color: #cbd5e1;
  }
}

.membro {
  display: flex;
  align-self: start;

  span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  strong {
    color: #cbd5e1;
  }

  p {
    color: #cbd5e1;
  }
}

.icon {
  color: #cbd5e1;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;

  strong {
    color: #cbd5e1;
  }

  p {
    color: #cbd5e1;
  }
}


.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-top: 1rem;

  strong {
    color: #cbd5e1;
  }

  p {
    color: #cbd5e1;
  }

}


@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

  .membro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 1rem;
  }

  .bio {
    max-width: 100%;
  }
}