.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 1rem;
  margin: 6.5rem 0 1rem 0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.2rem;
  }

  h1 {
    color: #4661FD;
  }
}

.avatar_perfil {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.membro {
  span {
    display: flex;
    align-items: center;
    gap: 6px;
    /* espaço entre os itens */
  }

  strong {
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}


.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-top: 1rem;
}

.tecnologias_dev {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

  .bio {
    max-width: 100%;
  }
}