.container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 6.5rem;
}

.filtros {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
}

.inputContainer input {
  width: 90%;
  border: none;
  outline: none;
  flex-grow: 0;
  font-size: 14px;
  background: transparent;
  text-align: left;
  margin: auto;
}

.icon {
  color: #555;
  margin-right: 8px;
  font-size: 18px;
}


select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

select:hover {
  border-color: #888;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: -20px;
  }
}