.container {
  /* position: relative; */
  /* top: 100px; */
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e8eaf7;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.filtros {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 100%;
  /* max-width: 600px; */
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
}

.inputContainer input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
}

.icon {
  color: #555;
  margin-right: 8px;
  font-size: 18px;
}

select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

select:hover {
  border-color: #888;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: -48px;
  }
}
