.container {
  display: grid;
  grid-template-columns: 30rem 1fr;
  background-color: #e8eaf7;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}