.container {
  display: grid;
  grid-template-columns: 30rem 1fr;
  background-color: radial-gradient(circle at top, #0f172a, #020617 70%);
  max-width: 1400px;
  margin: 0 auto;
  gap: 10px;
}

.container_left {
  display: flex;
  justify-content: center;
  background-color: radial-gradient(circle at top, #0f172a, #020617 70%);
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: none;
  }

  .container_left {
    display: block;
  }
}