.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 22px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  background-color: #1A2332;
  width: 500px;
  max-width: 90%;
  max-height: 80vh;
  padding: 20px 25px;
  position: relative;
  overflow-y: auto;
  animation: slideUp 0.3s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Scroll suave dentro do modal */
.modal_content::-webkit-scrollbar {
  width: 6px;
}

.modal_content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #444;
  transition: transform 0.2s ease, color 0.2s ease;
}

.close_button:hover {
  color: #000;
  transform: scale(1.1);
}

.icon {
  font-size: 1rem;
  color: #cbd5e1;
}

.tittle {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 13px;
  color: #cbd5e1;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
  color: #000;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

textarea {
  min-height: 60px;
  resize: vertical;
}

.button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.9rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  color: #0d1b2a;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #ffffff;
  color: #4661FD;
  border: 1px solid #4661FD;
}