.container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 0 2rem;
  background: #0d1321;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoImg {
  width: 3rem;
  height: 3%;
  object-fit: contain;
}

.logo {
  /* font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1rem; */
   background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boxFeed {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.boxOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.textIcon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.textIcon:focus {
  outline: none;
}

.textIcon:hover {
  color: #d1d9ff;
}

.icon {
  font-size: 1.3rem;
  flex-shrink: 0;
}

.usuarioLogado {
  background-color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  color: #4661fd;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
}

@media (max-width: 1024px) {
  .menuButton {
    display: block;
  }

  .boxOptions {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: #4661fd;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .showMenu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .boxFeed {
    flex-direction: row;
    gap: 0.6rem;
  }

  .textIcon {
    font-size: 0.85rem;
  }

  .icon {
    font-size: 1.1rem;
  }
}