.container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    color: #34495e;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.datahora_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.listAdicionar {
  display: flex;
  justify-content: space-between;
}

.listBotao {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
}

.BotaoAdicionar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  height: 32px;
  background-color: #1d8f2e;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  transition: all 0.18s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
}

.BotaoAdicionar:hover {
  background-color: #187a27;
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.22);
}

.BotaoAdicionar:active {
  transform: scale(0.97);
}

.tabelaUsuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabelaUsuarios th,
.tabelaUsuarios td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.tabelaUsuarios th {
  background: #f5f5f5;
  font-weight: bold;
}

.acoes {
  display: flex;
  gap: 1rem;
}

.botaoEditar {
  background: #0c1727;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.botaoDelete {
  background: #e63946;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

.inputDate {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

.inputDate:focus {
  color: #0c1727;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.botaoCancelar {
  background: #777;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.botaoSalvar {
  background: #1d8f2e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.botaoDeletarConfirm {
  background-color: #d32f2f;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.botaoDeletarConfirm:hover {
  background-color: #b71c1c;
}

.botaoCancelar {
  background-color: #777;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.botaoCancelar:hover {
  background-color: #5f5f5f;
}
