.slider-right {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border: none;
  border-radius: 50%;
}

.slider-track-right {
  display: flex;
  gap: 150px;
  animation: scroll-right 25s linear infinite;
}

/* Ícones */
.slide img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: drop-shadow(0 0 5px #00d9ff);
}

/* Animação infinita para a DIREITA */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}