.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.9rem;
  text-align: center;
  justify-items: center;
  padding: 0.8rem;
  z-index: 10;
<<<<<<< HEAD
}
=======
  background: radial-gradient(circle at top, #0f172a, #020617 70%);
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
>>>>>>> 10636943b93ff0d45d262933a6ecd8fe475935ce
