/*  CONTAINER GERAL */
.container {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at top, #0f172a, #020617 70%);
  color: #fff;
}

.mentoriaSection {
  max-width: 1100px;
  width: 100%;
}

/* Header geral */
.header {
  background: #0d1321;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Container interno com limite */
.headerContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  display: flex;
  align-items: center;
}

.inicioBtn {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

/* TÍTULOS */
.title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 10px;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 40px;
  opacity: 0.85;
}

/* CARDS DOS TEMAS */
.cardsArea {
  display: flex;
  align-items: center;    
  text-align: center;    
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
  }

.card {
  padding: 25px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.12);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  Background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card p {
  opacity: 0.85;
  line-height: 1.4rem;
  color: #cbd5e1;
}

/* FORMULÁRIO DE AGENDAMENTO*/
.formArea {
  margin-top: 40px;
  padding: 40px 30px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 12px; 
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  max-width: 500px;  
  width: 80%;
  margin-left: auto;
  margin-right: auto; 
}

.formArea h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  Background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  }

  .form label {
  align-self: flex-start;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #ffff;
}

.form input {
  width: 200%;
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  font-size: 0.95rem;
  margin-bottom: 1.2rem;
  transition: 0.3s;
  color: #fff;
}

.formArea agendarBtn {
  margin-top: 1rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}