/*  CONTAINER GERAL */
.container {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at top, #0f172a, #020617 70%);
  color: #fff;
}

.mentoriaSection {
  max-width: 1100px;
  width: 100%;
}

/* Header geral */
.header {
  background: #0d1321;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Container interno com limite */
.headerContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  display: flex;
  align-items: center;
}

.inicioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.inicioBtn2 {
  display: none;
}

/* TÍTULOS */
.title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 10px;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 40px;
  opacity: 0.85;
}

/* CARDS DOS TEMAS */
.cardsArea {
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 45px;
  margin-bottom: 40px;
}

.card {
  padding: 25px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.12);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card p {
  opacity: 0.85;
  line-height: 1.4rem;
  color: #cbd5e1;
}

.saibaMaisBtn {
  cursor: pointer;
}
/* FORMULÁRIO DE AGENDAMENTO*/
.formArea {
  margin-top: 40px;
  padding: 40px 30px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 12px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  max-width: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.formArea h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.p {
  opacity: 0.85;
  line-height: 1.4rem;
  color: #cbd5e1;
  text-align: center;
}

.duracao {
  opacity: 0.85;
  line-height: 1.4rem;
  color: #cbd5e1;
  text-align: center;
}

.precoDe {
  font-size: 1.5em;
}

.precoPor {
  font-size: 1.5em;
}

.precoAtual {
  font-size: 2.5em;
  background: linear-gradient(to right, #38bdf8, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 900;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: 600;
  color: #fff;
}

.form input {
  width: 100%;
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  font-size: 0.95rem;
  color: #000000;
  box-sizing: border-box;
}

.form select {
  width: 100%;
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.5); /* COR ANTES DE SELECIONAR */
  box-sizing: border-box;
}

.form select option {
  color: #000; /* cor das opções */
}

.form label {
  align-self: flex-start;
  font-weight: 600;
  color: #ffff;
}

.form input {
  width: 100%; /* Agora todos têm o mesmo tamanho e obedecem ao container */
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  font-size: 0.95rem;
  margin-bottom: 1.2rem;
  transition: 0.3s;
  color: #fff;
  box-sizing: border-box; /* Evita que padding aumente o tamanho total */
}

.form input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.18);
}

.agendarBtn {
  background: linear-gradient(to right, #38bdf8, #c084fc);
  border: none;
  margin-top: 1rem;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.agendarBtn:hover {
  background: #0090d1;
}

@media (max-width: 900px) {
  .cardsArea {
    flex-direction: column;
    align-items: center;
  }

  .cardImage {
    max-width: 300px;
    margin: 0 auto;
  }

  .formArea {
    width: 100%;
    padding: 30px 20px;
  }

  .cardsArea {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .inicioBtn {
    display: none;
  }

  .inicioBtn2 {
    display: block;
    color: #fff;
  }
}
